<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<html lang="en">
  <head>
    <title>TEAMER</title>
  </head>
  <body>
    <main>
      <h1>Welcome to TEAMER</h1>  
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Image">
            <div class="card-body">
              <h5 class="card-title">Photo profile</h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </main>
  </body>
</html>